/* 
	Author: Raju Islam;
	Author Emais: rajuislam2990@gmail.com;
	License: Creative;
	A design by Free css
	url: www.free css.com;
 */
/* font color */
/*hover-color*/
.revolution .btn, .about .btn, .post .btn, .Contact .btn, .login .btn, .register .btn {
  background: #000033;
  color: #ffffff;
  padding: 15px 30px;
  margin-top: 20px; }

.nav_bar ul li a, .nav_bar ul li a:hover, .revolution .btn, .revolution .btn:hover, .about .btn, .about .btn:hover, .team .flip-card .flip-card-inner .flip-card-back ul li, .team .flip-card .flip-card-inner .flip-card-back ul li:hover, .comment .btn, .comment .btn:hover, .post .btn, .post .btn:hover, .Contact .btn, .Contact .btn:hover, .login .btn, .login .btn:hover, .register .btn, .register .btn:hover, .footer ul .list-inline-item, .footer ul li a, .footer ul li a:hover {
  transition: all .5s; }

.about .head-text h3, .team .head-text h3, .market .head-text h3, .blog .head-text h3, .Contact .head-text h3, .login .head-text h3, .register .head-text h3 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 30px; }
@media all and (max-width: 576px) {
  .about .head-text h3, .team .head-text h3, .market .head-text h3, .blog .head-text h3, .Contact .head-text h3, .login .head-text h3, .register .head-text h3 {
    font-size: 30px;
    margin-bottom: 20px; } }
@media all and (max-width: 350px) {
  .about .head-text h3, .team .head-text h3, .market .head-text h3, .blog .head-text h3, .Contact .head-text h3, .login .head-text h3, .register .head-text h3 {
    font-size: 25px; } }

.about img, .team .flip-card .flip-card-inner .flip-card-front, .team .flip-card .flip-card-inner .flip-card-back, .team img, .market img, .blog .card {
  border-radius: 15px; }

/* h4/h6/p head bottom */
.about h4, .market h4, .blog h4 {
  font-size: 32px;
  color: #000033;
  line-height: 40px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 15px 0; }
.about h6, .market h6, .blog h6 {
  color: #827f7f;
  font-size: 14px;
  font-weight: 500;
  margin-top: -5px;
  margin-bottom: 10px; }
.about p, .market p, .blog p {
  margin: 0px;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #000000; }

body {
  font-family: 'poppins', sans-serif;
  color: #000033; }
  body a:hover {
    text-decoration: none; }

/* loader */
#loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%; }
  #loader_bg .loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center; }

/* //loader */
/* navbar */
.nav_bar {
  background: #000033; }
  .nav_bar .navbar-brend {
    background: #ffffff;
    height: 80px;
    padding: 0 20px; }
  .nav_bar i {
    color: #ffffff; }
  .nav_bar ul li {
    padding: 0 5px; }
    .nav_bar ul li a {
      color: #ffffff;
      text-transform: uppercase; }
    .nav_bar ul li a:hover {
      color: #E91818;
      border-bottom: 2px solid #E91818; }
    .nav_bar ul li .active {
      color: #E91818;
      border-bottom: 2px solid #E91818; }
  @media all and (max-width: 576px) {
    .nav_bar .navbar-brend {
      background: #ffffff;
      height: 70px;
      width: 200px;
      padding: 10px 10px; } }
  @media all and (max-width: 350px) {
    .nav_bar .navbar-brend {
      background: #ffffff;
      height: 50px;
      width: 100px;
      padding: 10px 10px; } }

@media all and (max-width: 1200px) {
  .nav_bar ul li {
    padding: 0 0px; } }
@media all and (max-width: 992px) {
  .nav_bar ul {
    margin: 0 auto;
    text-align: center; }
    .nav_bar ul li {
      padding: 0 5px; }
      .nav_bar ul li a:hover {
        display: inline-block; }
      .nav_bar ul li .active {
        display: inline-block; } }
/* //navbar */
/* revolution */
.revolution {
  margin-top: 30px; }
  .revolution .slide-bg {
    background-color: #000033;
    border-radius: 25px; }
  .revolution #demo {
    max-width: 550px;
    margin: 50px 42px; }
  .revolution .carousel-control-prev, .revolution .carousel-control-next {
    left: -25px;
    height: 50px;
    width: 70px;
    background: #ffffff; }
  .revolution .carousel-control-prev {
    top: 52%; }
  .revolution .carousel-control-next {
    top: 35%; }
  .revolution .fa-angle-right, .revolution .fa-angle-left {
    color: #E91818;
    font-size: 25px; }
  .revolution .pl-md-5 {
    margin-top: 70px; }
  .revolution h3 {
    color: #006;
    font-size: 35px;
    font-weight: 600;
    margin: 0; }
  .revolution h4 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 15px; }
  .revolution p {
    color: #006; }
  .revolution .btn {
    margin-left: 10px; }
  .revolution .btn:hover {
    background-color: #E91818; }

@media all and (max-width: 1200px) {
  .revolution .pl-md-5 {
    margin-top: 20px; }
  .revolution h3 {
    font-size: 35px; }
  .revolution h4 {
    font-size: 50px; }
  .revolution p {
    margin-bottom: 0px; } }
@media all and (max-width: 992px) {
  .revolution #demo {
    max-width: 550px;
    margin: 50px 0px; }
  .revolution .carousel-control-prev, .revolution .carousel-control-next {
    left: -20px;
    height: 40px;
    width: 50px; }
  .revolution .carousel-control-prev {
    top: 50%; }
  .revolution .carousel-control-next {
    top: 35%; }
  .revolution .fa-angle-right, .revolution .fa-angle-left {
    font-size: 20px; }
  .revolution .pl-md-5 {
    margin-top: 10px; }
  .revolution h3 {
    font-size: 20px; }
  .revolution h4 {
    font-size: 35px;
    margin-bottom: 5px; }
  .revolution .btn {
    margin-left: 0px;
    padding: 5px 10px; } }
@media all and (max-width: 768px) {
  .revolution #demo {
    max-width: 550px;
    margin: 50px 42px; }
  .revolution .carousel-control-prev, .revolution .carousel-control-next {
    left: -25px;
    height: 50px;
    width: 70px; }
  .revolution .carousel-control-prev {
    top: 52%; }
  .revolution .carousel-control-next {
    top: 35%; }
  .revolution .fa-angle-right, .revolution .fa-angle-left {
    font-size: 25px; }
  .revolution .pl-md-5 {
    margin-top: 40px; }
  .revolution h3 {
    color: #006;
    font-size: 25px;
    font-weight: 600;
    margin: 0; }
  .revolution h4 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px; }
  .revolution p {
    color: #006; }
  .revolution .btn {
    padding: 10px 15px; } }
@media all and (max-width: 576px) {
  .revolution .carousel-control-prev, .revolution .carousel-control-next {
    left: -20px;
    height: 40px;
    width: 50px; }
  .revolution .carousel-control-prev {
    top: 57%; }
  .revolution .carousel-control-next {
    top: 28%; }
  .revolution .btn {
    margin-left: 10px; } }
@media all and (max-width: 350px) {
  .revolution #demo {
    max-width: 550px;
    margin: 20px 0px; }
  .revolution .carousel-control-prev, .revolution .carousel-control-next {
    left: -20px;
    height: 35px;
    width: 45px; }
  .revolution .carousel-control-prev {
    top: 58%; }
  .revolution .carousel-control-next {
    top: 28%; }
  .revolution h3 {
    font-size: 20px; }
  .revolution h4 {
    font-size: 25px; } }
/* //revolution */
/* about */
.about {
  margin: 80px 0 40px 0; }
  .about .head-text span {
    color: #E91818; }
  .about h4 {
    margin-top: 50px; }
  .about p {
    margin-top: 20px; }
  .about .btn:hover {
    background: #E91818; }
  @media all and (max-width: 992px) {
    .about h4 {
      margin-top: 10px; }
    .about p {
      margin-top: 10px; } }
  @media all and (max-width: 576px) {
    .about {
      margin: 40px 0 30px 0; }
      .about h4 {
        font-size: 20px;
        margin-top: 0px;
        line-height: 25px; }
      .about p {
        line-height: 22px; }
      .about .btn {
        margin-top: 0px; } }

/* //about */
/* team */
.team {
  margin: 80px 0 40px 0; }
  .team .flip-card {
    background-color: #E91818;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    perspective: 1000px; }
    .team .flip-card .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.7s;
      transform-style: preserve-3d; }
      .team .flip-card .flip-card-inner .flip-card-front, .team .flip-card .flip-card-inner .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden; }
      .team .flip-card .flip-card-inner .flip-card-front {
        background-color: #bbb;
        color: black; }
      .team .flip-card .flip-card-inner .flip-card-back {
        background-color: #000033;
        color: white;
        transform: rotateY(180deg); }
        .team .flip-card .flip-card-inner .flip-card-back .flip-text {
          margin-top: 50%; }
        .team .flip-card .flip-card-inner .flip-card-back h5 a {
          color: #ffffff;
          font-size: 25px; }
        .team .flip-card .flip-card-inner .flip-card-back ul li {
          background: rgba(138, 158, 204, 0.5);
          height: 40px;
          width: 40px;
          border-radius: 50%;
          padding-top: 9px; }
          .team .flip-card .flip-card-inner .flip-card-back ul li i {
            color: #ffffff; }
        .team .flip-card .flip-card-inner .flip-card-back ul li:hover {
          background: #E91818; }
  .team .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); }
  .team img {
    max-height: 300px;
    width: 100%; }
  .team h6 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600; }
  @media all and (max-width: 992px) {
    .team .flip-card {
      width: 100%;
      height: 400px; }
    .team img {
      max-height: 400px;
      width: 100%; } }
  @media all and (max-width: 768px) {
    .team .flip-card {
      width: 100%;
      height: 500px; }
    .team img {
      max-height: 500px;
      width: 100%; } }
  @media all and (max-width: 576px) {
    .team .flip-card {
      width: 100%;
      height: 400px; }
    .team img {
      height: 400px;
      width: 100%; }
    .team h6 {
      margin-top: 20px;
      margin-bottom: 15px; } }
  @media all and (max-width: 300px) {
    .team .flip-card {
      width: 100%;
      height: 300px; }
    .team img {
      height: 300px;
      width: 100%; }
    .team h6 {
      margin-top: 20px;
      margin-bottom: 15px; } }

/* //team */
/* marketing */
.market {
  padding: 80px 0 40px 0;
  background: #000033;
  color: #ffffff; }
  .market .head-text {
    color: #ffffff; }
  .market h4 {
    color: #ffffff;
    margin-top: 50px; }
  .market p {
    margin-top: 20px;
    color: #ffffff; }
  .market .row2 {
    background: #ffffff; }
    .market .row2 h4 {
      color: #000033; }
    .market .row2 p {
      color: #000033; }
  @media all and (max-width: 1200px) {
    .market h4 {
      margin-top: 10px; }
    .market p {
      margin-top: 20px;
      line-height: 25px; } }
  @media all and (max-width: 350px) {
    .market {
      padding: 40px 0 30px; }
      .market h4 {
        font-size: 22px;
        line-height: 30px; }
      .market p {
        line-height: 25px; } }

/* //marketing */
/* comment */
.comment {
  margin: 80px 0 40px 0; }
  .comment .text h5 {
    font-size: 27px;
    font-weight: 700; }
  .comment .text hr {
    background: #000033;
    height: 1px;
    margin-bottom: 30px; }
  .comment h5 {
    font-size: 22px;
    font-weight: 700; }
  .comment h6 {
    color: #E91818; }
  .comment p {
    color: #827f7f; }
  .comment .btn {
    background: #E91818;
    color: #ffffff;
    height: 28px;
    padding: 0 20px;
    margin-top: 50px; }
  .comment .btn:hover {
    background: #000033; }
  @media all and (max-width: 768px) {
    .comment .btn {
      margin-top: 0px; } }
  @media all and (max-width: 350px) {
    .comment {
      margin: 40px 0 30px 0; }
      .comment .text h5 {
        font-size: 25px;
        font-weight: 700; } }

/* //comment */
/* post */
.post {
  margin: 80px 0 40px 0; }
  .post .text h5 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px; }
  .post input, .post textarea {
    width: 100%;
    padding: 15px 20px; }
  .post input[type=text] {
    margin-bottom: 17px; }
  .post textarea {
    height: 130px; }
  .post .btn {
    padding: 20px 80px;
    border-radius: 30px; }
  .post .btn:hover {
    background: #E91818; }
  @media all and (max-width: 350px) {
    .post {
      margin: 30px 0 20px 0; }
      .post .text h5 {
        font-size: 25px; }
      .post input, .post textarea {
        padding: 10px 5px; }
      .post .btn {
        padding: 10px 50px; } }

/* //post */
/* blog */
.blog {
  padding: 80px 0 40px 0; }
  .blog .card {
    width: 80%;
    margin: auto; }
  .blog h4 {
    margin-top: 20px; }
  .blog p {
    width: 80%;
    margin: auto; }
  @media all and (max-width: 350px) {
    .blog {
      padding: 20px 0 0px 0; }
      .blog h4 {
        font-size: 22px; }
      .blog p {
        width: 100%;
        line-height: 20px;
        margin-bottom: 20px; } }

/* //blog */
/* Contact */
.Contact {
  padding: 80px 0 40px 0; }
  .Contact input, .Contact textarea {
    width: 100%;
    padding: 15px 20px; }
  .Contact input[type=text], .Contact input[type=email] {
    margin-bottom: 17px; }
  .Contact textarea {
    height: 200px; }
  .Contact .btn {
    padding: 20px 80px;
    border-radius: 30px; }
  .Contact .btn:hover {
    background: #E91818; }
  @media all and (max-width: 350px) {
    .Contact {
      margin: 30px 0 20px 0; }
      .Contact .text h5 {
        font-size: 25px; }
      .Contact input, .Contact textarea {
        padding: 10px 5px; }
      .Contact .btn {
        padding: 10px 50px; } }

/* //Contact */
/* map */
.map .map_section iframe {
  height: 500px;
  width: 100%; }
@media all and (max-width: 576px) {
  .map .map_section iframe {
    height: 300px;
    width: 100%; } }
@media all and (max-width: 350px) {
  .map .map_section iframe {
    height: 200px;
    width: 100%; } }

/* map */
/* login */
.login {
  margin: 80px 0 40px 0; }
  .login .user-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%; }
  .login label {
    margin-bottom: 0;
    font-weight: bold; }
  .login input[type=text], .login input[type=password] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; }
  .login .btn {
    width: 100%; }
  .login .btn:hover {
    background: #E91818; }
  .login label[for="check"] {
    margin-top: 10px; }
  .login span {
    float: right;
    margin-top: 10px; }

/* //login */
/* register */
.register {
  margin: 80px 0 40px 0; }
  .register .user-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%; }
  .register label {
    margin-bottom: 0;
    font-weight: bold; }
  .register input[type=text], .register input[type=password], .register input[type=email] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; }
  .register .btn {
    width: 100%; }
  .register .btn:hover {
    background: #E91818; }
  .register label[for="check"] {
    margin-top: 10px; }
  .register span {
    float: right;
    margin-top: 10px; }

/* //register */
/* footer */
.footer {
  padding: 80px 0 40px 0;
  background: #000033;
  color: #ffffff; }
  .footer .img1 {
    margin-bottom: 50px; }
  .footer .media {
    margin-bottom: 25px; }
    .footer .media i {
      font-size: 25px;
      margin: 10px 15px 0 0; }
  .footer ul .list-inline-item {
    background: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px; }
    .footer ul .list-inline-item i {
      color: #000033; }
  .footer ul .list-inline-item:hover {
    background: #000000; }
    .footer ul .list-inline-item:hover i {
      color: #E91818; }
  .footer h5 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px; }
  .footer ul li {
    margin-bottom: 10px; }
    .footer ul li a {
      color: #ffffff; }
    .footer ul li a:hover {
      color: #E91818;
      padding-left: 5px; }
  .footer .column1 {
    width: 40%;
    padding: 0 15px; }
  .footer .column2 {
    width: 60%;
    padding: 0 15px; }
    .footer .column2 .columns {
      width: 50%;
      float: left;
      padding-right: 15px; }
  .footer form {
    background: #ffffff;
    padding: 30px; }
    .footer form input, .footer form textarea {
      width: 100%;
      margin-bottom: 10px;
      padding: 5px 15px;
      border-radius: 15px;
      border: 1px solid #000033; }
    .footer form textarea {
      height: 80px; }
    .footer form input[type="submit"] {
      background: #E91818;
      color: #ffffff;
      border: none; }
    .footer form input[type="submit"]:hover {
      background: #000033;
      color: #ffffff; }
  .footer .copy .text-center p {
    color: #827f7f;
    text-align: center;
    margin: 20px 0; }
  @media all and (max-width: 992px) {
    .footer .img1 {
      margin-bottom: 30px; }
    .footer .media {
      margin-bottom: 15px; }
      .footer .media i {
        font-size: 20px;
        margin: 15px 15px 0 0; } }
  @media all and (max-width: 350px) {
    .footer {
      padding: 20px 0 0px 0; }
      .footer ul .list-inline-item {
        height: 35px;
        width: 35px;
        padding-top: 7px; }
      .footer h5 {
        font-size: 20px;
        margin-bottom: 20px; }
      .footer .column1 {
        width: 100%; }
      .footer .column2 {
        width: 100%; }
      .footer form {
        padding: 15px; } }

/* //footer */

/*# sourceMappingURL=style.css.map */
